$wallColor: rgb(128,128,128);
$startColor: rgba(63, 195, 128, 1);
$finishColor: rgba(255, 0, 0, 0.6);

.node {
    width: 4vw;
    height: 6vh;    
  
    // outline: 1px solid rgb(175, 216, 248);
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;    
    // background-color: lightblue;            

}

.active {
    background-color: black;
}

.bar {      
    background-color: transparent;  
    font-size: 0;
    // padding-top: 10px;
    // padding-top: 10px;
    // padding-bottom: -10px;
    border-top: 1px solid;    

    margin-top: -1px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -25px;
    
    // width: 1.4vw;
    // width: 2.8vw;
    // width: 3.8vh;
}

.footer {
    background-color: transparent;
    background-color: lightgreen;    
//     // background: red;
//     // margin-left: 0;
//     // margin-right: 0;
//     padding-top: 10px;
//     border-top: 1px solid;    
//     margin-top: -1px;
    
//     // margin-top: 20px;
}