$wallColor: rgb(128,128,128);
$startColor: rgba(63, 195, 128, 1);
$finishColor: rgba(255, 0, 0, 0.6);

.node {
    width: 2vw;
    height: 3vh;
    // outline: 1px solid rgb(175, 216, 248);
    display: inline-block;        
    
}

.footer {
    // background: red;
    padding-top: 10px;
    border-top: 1px solid;
    margin-top: -1px;
    // margin-top: 20px;
}